.container{
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: space-between;

    padding-top:  3rem;
    padding-bottom: 1.5 rem;
}

.container aside{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-weight: bold;
}

.container aside:first-child{
    color: #4EA8DE;
}

.container aside:last-child{
    color: #8284FA;
}

.container aside{
    font-size: 0.875rem;
}

.container aside span{
    padding: 2px 8px;
    border-radius: 16px;

    font-size: 0.75rem;

    color: #d9d9d9;
    background-color: #333333;
}